{% load static %}
<html>
	<head>
		<title>Django Blogs</title>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}"/>
	</head>
	<body>
		<header>
			<div class="nav-left">
				<h1><a href="{% url 'home' %}">Django Blog</a></h1>
			</div>
			<div class="nav-right">
				<a href="{% url 'post_new' %}" >+New Blog Post</a>
			</div>
		</header>
		{% if user.is_authenticated %}
			<p align="right">Hi {{ user.username }}!<br>
			<a href="{% url 'logout' %}">Log out</a></p>
		{% else %}
			<p align="right">You are not logged in. New here? <a href ="{% url 'signup' %}" >SignIn</a><br>
			Or,<a href="{% url 'login' %}">Log In</a></p>
		{% endif %}
		<div>
			{% block content %}
			{% endblock content %}
		</div>
	</body>
</html>